fastapi
uvicorn[standard]
motor
pymongo
pydantic
pydantic-settings
langchain
langchain-google-genai
langgraph
langchain-community
sentence-transformers
pinecone
google-auth
google-auth-oauthlib
python-jose[cryptography]
httpx
python-dotenv
python-multipart
aiohttp
numpy
google-generativeai
certifi